<!-- <nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <fullstack-logo></fullstack-logo>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
        <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
      </li>
    </ul>
    <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
    <div ng-show="user" class="welcome">
      <span>Welcome, {{ user.email }}!</span>
      <a ng-click="logout()">Logout</a>
    </div>
  </div>
</nav>
 -->


<div class="row around-xs">
  <div class="col-xs-4">
    <div class="box">
      <h1 id="logo">Story</h1>
    </div>
  </div>
  <div class="col-xs-6 end-xs">
    <div class="box navbox">
      <a href="#" class="nav-link">Log in</a>
      <a href="#" class="nav-link">Register</a>
    </div>
  </div>
</div>
