@import '../variables';
.blank {
  display: block;
  background: $almost-white-mint;
  font-family: $header-font-stack;
  font-size: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.75);

  &.alt {
    background: $bright-medium-green;
    font-size: 24px;
    &::before{
      width:5px;
      background: white;
    }
  }
}


