<div class="row center-xs">
  <div class="col-xs-6">
    <div class="box blank">
      <h2 class="big-message">Begin your story below</h2>
      <form class="form-group start-xs">
        <textarea class="step-content" ng-model="content" name="content"></textarea>

        <label>Does the user have to make a choice here? </label>
        <input class="path-checkbox" type="checkbox" ng-model="pathChoice">
        <label>Yes</label>
        <br/>
        <button ng-show="!pathChoice" ng-click="createNewStep()">Create Step</button>
      </form>
    </div>
  </div>
</div>

<div class="row around-xs" ng-show="pathChoice">
  <div class="col-xs-4">
    <div class="box blank option-box">
      <p class="option-number">Option 1:</p>
      <form class="form-group">
        <textarea ng-model="optionOne"></textarea>
        <input class="path-checkbox" type="radio" name="next" value="left" ng-model="stepToWorkOnNext">
        <label>I want to work on this one next</label>
      </form>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="box blank option-box">
      <p class="option-number">Option 2:</p>
      <form class="form-group">
        <textarea ng-model="optionTwo"></textarea>
        <input class="path-checkbox" type="radio" name="next" value="right" ng-model="stepToWorkOnNext">
        <label>I want to work on this one next</label>
      </form>
    </div>
  </div>
</div>

<div class="row center-xs" ng-show="pathChoice">
  <div class="end-xs col-xs-offset-5 col-xs-5">
    <span class="bright-note" ng-show="!stepToWorkOnNext">Choose an option to work on next.</span>
    <button ng-show="pathChoice" ng-disabled="!stepToWorkOnNext" ng-click="createNewStep()">Create Step</button>
  </div>
</div>
