navbar {
  display: block;
  background: none;
  #logo a {
    font-family: $header-font-stack;
    color: $almost-white-mint;
    size: 24px;
    text-decoration: none;
  }
  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }
  #welcome-message {
    color: $almost-white-mint;
  }
  .nav-link {
    size: 16px;
    color: $medium-mint;
    font-family: $regular-font-stack;
    margin-left: 15px;
  }
  .navbox {
    margin-top: 20px;
  }
  button#login-button {
    color: $almost-white-mint;
  }
  .login-button {
    float: right;
    border: 1px solid black;
    margin-top: 10px;
    background: none;
    outline: none !important;
  }
}
