@import 'variables';
* {
  box-sizing: border-box;
}

body {
  background: $dark-background-teal;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}


/* Clearfix */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}


/* start commented backslash hack \*/

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}


/* close commented backslash hack */


/* Text styles */

p,
span {
  font-family: $regular-font-stack;
}


/* Header Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-stack;
  margin-top: 0px;
  margin-bottom: 5px;
}

h2.big-message {
  color: $medium-mint;
  font-size: 36px;
}


/* Dotted Line styles */

line {
  border: none;
  border-left: 3px dotted $almost-white-mint;
  background: none;
  width: 0;
  &.short-line {
    height: 200px;
  }
  &.long-line {
    min-height: 125px;
    
  }
}

.long-line {
  min-height: 150px;
  border-left: 3px dotted $almost-white-mint;
  max-width: 20px;
  margin:auto;
  margin-top:-80px
}



/* Button styles */

button {
  font-family: $regular-font-stack;
  background: $slate-blue;
  color: $almost-white-mint;
  border: 0px;
  padding: 10px;
  &.important-button {
    font-size: 18px;
  }
}

.blank {
  button {
    margin-top:10px;
  }
}

button[disabled] {
  background: darken($dark-background-teal, 2%);
  color: lighten($dark-background-teal, 2%);
}

.blank {
  button[disabled] {
    background: darken($almost-white-mint, 8%);
    color: lighten($almost-white-mint, 2%);
  }
}

line {
  height: 200px;
  width: 0px;
  border: 2px dashed $almost-white-mint;
}


/* Form styles */

.form-group {
  font-family: $regular-font-stack;
  margin-bottom: 20px;
  display: block;
  label {
    color: $medium-mint;
    margin-bottom: 5px;
    font-size: 14px;
    .required {
      font-weight: 700;
    }
  }
  input, textarea {
    background: none;
    color: $almost-white-mint;
    border: 0;
    border-bottom: 3px solid $medium-mint;
    font-size: 28px;
    width: 100%;
    padding: 10px;
    padding-bottom: 2px;
    &:focus {
      outline: none;
      border-bottom: 3px solid lighten($medium-mint, 5%);
    }
  }
}

.blank {
  .form-group {
    font-family: $regular-font-stack;
    margin-bottom: 20px;
    display: block;
    label {
      color: $medium-mint;
      margin-bottom: 5px;
      font-size: 14px;
      .required {
        font-weight: 700;
      }
    }
    input,
    textarea {
      &[type="checkbox"], &[type="radio"] {
        width: auto;
      }
      background: none;
      color: $dark-background-teal;
      border: 0;
      border-bottom: 3px solid $medium-mint;
      font-size: 28px;
      // height: 30px;
      width: 100%;
      padding: 10px;
      padding-bottom: 2px;
      &:focus {
        border-bottom: 3px solid $dark-background-teal;
        outline: none;
      }
    }
    textarea {
      background: lighten($medium-mint, 15%);
      border: 0;
      &:focus {
        border: 0;
      }
    }
  }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'step/main';
@import 'stories/main'
