@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700,700italic%7CCatamaran:400,200,600,900%7CRozha+One);

$header-font-stack: 'Rozha One', Georgia, serif;
$regular-font-stack: 'Quattrocento Sans', Helvetica, Arial, sans-serif;
$dark-background-teal: #084849;
$almost-white-mint: #F3FBF9;
$medium-mint: #7FCCCB;
$bright-medium-green: #31B7A1;
$canary-yellow: #F8E97B;
$slate-blue: #40869F;